.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~
test_results
html_test
performerl_results
*test_results
old_test_results*
.DS_Store
.ipynb_checkpoints
process_results.ipynb
RestfullyREADME.md
pluginList.txt
*.so
*.aux
*.log
*.bbl
*.blg
*.pdf
*.gz
*.dvi
