{erl_opts, [debug_info]}.
{deps, [{jsx,
        %% Note: using 2.0+ may requier migration from 1.x
        %%       last 1.x version is 1.4.5 (2013-12-18).
        {git, "git://github.com/talentdeficit/jsx.git",
         {tag, "v1.4.5"}}},
        gun
        ]}.
{plugins, [
    {performerl, {git, "git@github.com:luca-tansini/performerl.git", {branch, "master"}}}
]}.